# Node.js

# Dependency directories
node_modules/
node_modules
pids/
logs/
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Environment variables
.env*

# Build output
dist/
build/
out/

# macOS system files
.DS_Store

# Vercel deployment files
.vercel/

# Logs
logs/
*.log
npm-debug.log*

# HTML Testing files
html-test-output/

# Temporary files
*.swp
*~
