html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #15151c;
    color: white;
}

.nav-item a {
    color: white;
    text-decoration: none;
}

.nav-item a:hover{
    color: white;
    font-weight: bold;
}

.nav-item-5 a {
    color: #1e1c36;
}

.crypto {
    background-color: #1e1c36;
    border-color: #1e1c36;
    padding: 10px;
    color: white;
}

.crypto:focus {
    background-color: #1e1c36;
    border-color: #1e1c36;
    padding: 10px;
    color: white;
}

.crypto::placeholder {
    color: white;
    opacity: 1;
}

.calculatebutton {
    background-color: #1e1c36;
    border-color: #1e1c36;
    color: white;
    padding: 10px;
}

.calculatebutton:hover {
    background-color: #9693f5;
    border-color: #1e1c36;
    color: white;
    padding: 10px;
}

footer p {
    color: white;
}

.crtable {
    width: 100%;
}

th, td {
    border-bottom: 1px solid #323445;
    padding: 20px;
}

tr:hover {
    background-color: #323445;
}

td {
    font-weight: bold;
}

.comparing {
    text-align: center;
}

.list-group-item {
    font-size: 1.15em;
    font-weight: 600;
}

.c_active {
    background: #1e1c36;
    color: white;
}

.comparing > div > input {
    border-radius: 10px;
}

.comparing > div > input:active {
    border-radius: 10px;
    border-color: #1e1c36;
}