<%- include("template/header.ejs") %>

<section id="hero">
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="images/btc.png" alt="" width="mx-auto" height="57">
        <h1 class="m-0" style="color: white; font-weight: 200;">Show the price of <span style="color: #9693f5;">A</span> with</h1>
        <h1 class="m-0" style="color: white; font-weight: 200;">the market cap of <span style="color: #9693f5;">B</span></h1>
        <div class="twoCrypto container mt-5">
            <div class="row display-flex">
              <div class="col">
                <input type="text" class="crypto 1 form-control" placeholder="Coin 1" aria-label="Username">
              </div>
              <div class="col">
                <a href="" type="button" class="calculatebutton btn btn-light">Calculate</a>
              </div>
              <div class="col">
                <input type="text" class="crypto 2 form-control" placeholder="Coin 2" aria-label="Username">
              </div>
            </div>
          </div>
      </div>
</section>


<section id="topCryptos">

</section>

<%- include('template/footer.ejs') %>