<%- include("template/header.ejs") %>

<section id="hero">
    <div class="container d-flex align-items-baseline gap-2 mt-5">
        <div>
            <p style="border-radius: 50%; background-color: white; padding: .15em;">🚀</p>
        </div>
        <div>
            <p>My Main Portfolio</p>
        </div>
    </div>
    <div class="container d-flex justify-content-between">
        <div>
            <h1>$51,482.26</h1>
        </div>
        <div>
            <a class="addcoins" id="togglebutton" style="cursor: pointer;">+ Add Coin</a>
        </div>
    </div>
    <div class="inactive container mt-5" id="addcoinform">
        <div class="d-flex justify-content-center">
            <h3 class="mb-3">Add Coin</h3>
        </div>
        <div class="d-flex justify-content-center">
            <form action="" method="POST" id="coin_portfolio" style="width: 200px;">
                <input type="text" class="crypto form-control mt-2" placeholder="Coin" id="coin" name="coin">
                <input type="text" class="crypto form-control mt-2" placeholder="Amount" id="amount" name="amount">
                <input type="text" class="crypto form-control mt-2" placeholder="Avg. Buy Price" id="avg_buy_price" name="avg_buy_price">
                <button type="submit" class="calculatebutton btn mt-2 px-4">+ Add Coin</button>
            </form>
        </div>
    </div>
</section>

<section id="portfolio assets">
    <div class="container mt-5 border-top pt-4">
        <h3>Assets</h3>
        <div class="table-responsive">
            <table class="table-dark crtable">
              <thead> 
                <tr>
                  <th scope="col" style="padding-left: 0px;">Name</th>
                  <th scope="col">Price</th>
                  <th scope="col">Market Cap</th>
                  <th scope="col">Holdings</th>
                  <th scope="col">Avg. Buy Price</th>
                  <th scope="col">Profit/Loss</th>
                  <th scope="col">Sell Price</th>
                  <th scope="col">Profit</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td style="padding-left: 0px;"><a href="/coin" style="text-decoration: none; color: white;"><img src="/images/btc.png" class = "cryptologos" alt="Logo" style="width: 32px; height: auto; margin-right: 5px;" /><span>Bitcoin<span style="font-weight: 400; color: #595f70;";"> btc</span></span></a></td>
                    <td>$</td>
                    <td>$</td>
                    <td>$</td>
                    <td>$</td>
                    <td>$</td>
                    <td>$</td>
                    <td>$</td>
                  </tr>
              </tbody>
            </table>
          </div>
    </div>
</section>

<script src="/portfolioListeners.js"></script>
<%- include('template/footer.ejs') %>