html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #15151c;
    color: white;
}

.nav-item a {
    color: white;
    text-decoration: none;
}

.nav-item a:hover{
    color: white;
    font-weight: bold;
}

.nav-item-5 a {
    color: #1e1c36;
}

.crypto {
    background-color: #1e1c36;
    border-color: #1e1c36;
    padding: 10px;
    color: white;
}

.crypto:focus {
    background-color: #1e1c36;
    border-color: #1e1c36;
    padding: 10px;
    color: white;
}

.crypto::placeholder {
    color: white;
    opacity: 1;
}

.calculatebutton {
    background-color: #1e1c36;
    border-color: #1e1c36;
    color: white;
    padding: 10px;
}

.calculatebutton:hover {
    background-color: #9693f5;
    border-color: #1e1c36;
    color: white;
    padding: 10px;
}

footer p {
    color: white;
}

.crtable {
    width: 100%;
}

th, td {
    border-bottom: 1px solid #323445;
    padding: 20px;
}

tr:hover {
    background-color: #323445;
}

td {
    font-weight: bold;
}

.comparing {
    text-align: center;
}

.list-group-item {
    font-size: 1.15em;
    font-weight: 600;
}

.c_active {
    background: #1e1c36;
    color: white;
}

.comparing > div > input {
    border-radius: 10px;
}

.comparing > div > input:active {
    border-radius: 10px;
    border-color: #1e1c36;
}

/* specific crypto styleing */
.line {
    position: relative;
    background: #262424;
    height: 8px;
    border-radius: 4px;
    margin: 10px 0px 5px 0px;
  }

  .current-price-marker {
    position: relative;
    /*background: linear-gradient(to right, #eb3841, #16c783);*/
    background: #9693f5;
    height: 8px;
    border-radius: 4px;
    margin: 10px 0px 5px 0px;
    width: 70%;
  }

  #range-coin > div > div > div.title > h2 {
    color: #959399;
    font-size: 1.4em;
  }

  #range-coin > div > div > div.data.d-flex.justify-content-between > p {
    color: #9693f5;
    font-weight: bold;
  }

  body > section.dilution-coin > div > div > div > p:nth-child(1) {
    color: #959399;
    font-size: 1.1em;
  }

  body > section.dilution-coin > div > div > div > p:nth-child(2) {
    color: #9693f5;
    font-size: 1.1em;
  }

  .subtitle {
    color: #959399;
  }
  
  .pricetitle {
    color: #9693f5;
  }

  #hero-coin > div > div:nth-child(4) > h5 > a {
    margin-right: 10px;
    text-decoration: none;
    color: #9693f5;
  }

  @media (max-width: 576px) {

    .pricetitle {
        font-size: 1.3em;
    }

    .titlecoin {
        font-size: 1.3em;
    }

    #hero-coin > div > div.CurrentPriceAction.d-flex.justify-content-between.align-items-end > div.d-flex.gap-3.align-items-end > div:nth-child(2) > p {
        font-size: .8em;
    }

    .coinIMG {
        width: 48px;
    }
  }
